<div class="d-flex align-items-center">
    <span>Puissance</span>
    <div class="progress ms-2 w-100"
         style="min-width: 200px;"
         role="progressbar"
         aria-label="Example with label"
         aria-valuenow="25" aria-valuemin="0"
         aria-valuemax="100">
        <div class="progress-bar" style="width: {{ hero.puissance }}%">{{ hero.puissance }}%</div>
    </div>
</div>